dd.firstpage {
    width: 8%;
    text-align: center;
    line-height: 2.2em;
}

dd.lastpost {
    width: 20% !important;
}

.topicbuttons {
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 0px;
    display: inline-block !important;
}

.topicbutton {
    padding-left: 2px;
    font-family: "Verdana", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block;
}

.topiclistmessage {
    font-family: "Verdana", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold !important;
}

dd.firstpage span {
    display: grid;
    justify-items: center;
}

label.position {
    width: fit-content;
    font-family: "Verdana", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #507050;
    font-size: .8em;
    margin-top: -12px;
    margin-bottom: -7px;
    padding-right: 0;
    padding-top: 2px;
    text-align: center;
    display: inline-block;
    padding-left: 2px;
}
